/*-----------------------------------------------------------------------------------
Companyportfolio
Built with Blocs
-----------------------------------------------------------------------------------*/

$main-color: #0071BC;

body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
}

a {
    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
    outline: none !important;
}

button {
    outline: none !important;
}

/* Prevent ugly blue glow on chrome and safari */

/* Globals type styling */

h1, h2, h3, h4, h5, h6, p, label, .btn, a {
    font-family: 'Roboto', sans-serif;
}

/* Site container width */

.container {
    max-width: 1170px;
}

/* = Blocs
-------------------------------------------------------------- */

.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Sizes */

.bloc-xl {
    padding: 150px 50px;
}

.bloc-lg {
    padding: 100px 50px;
}

.bloc-md {
    padding: 50px;
}

.bloc-sm {
    padding: 20px 50px;
}

/* Dark theme */

.d-bloc {
    color: rgba(255, 255, 255, 0.7);
    button:hover, h1, h2, h3, h4, h5, h6, .ico {
        color: rgba(255, 255, 255, 0.9);
    }
    .icon-round, .icon-square, .icon-rounded, .icon-semi-rounded-a, .icon-semi-rounded-b {
        border-color: rgba(255, 255, 255, 0.9);
    }
    .divider-h span {
        border-color: rgba(255, 255, 255, 0.2);
    }
    a {
        color: $main-color;
        &:hover {
            color: rgba(0, 110, 183, 0.85);
        }
    }
    .navbar-toggle .icon-bar {
        background: $main-color;
    }
    .btn-wire {
        color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255, 1);
        &:hover {
            color: rgba(255, 255, 255, 1);
            border-color: rgba(255, 255, 255, 1);
        }
    }
    .panel {
        color: rgba(0, 0, 0, 0.5);
        button:hover, h1, h2, h3, h4, h5, h6 {
            color: rgba(0, 0, 0, 0.7);
        }
    }
    .ico {
        color: rgba(0, 0, 0, 0.7);
    }
    .panel {
        icon {
            border-color: rgba(0, 0, 0, 0.7);
        }
        .divider-h span {
            border-color: rgba(0, 0, 0, 0.1);
        }
        a {
            color: rgba(0, 0, 0, 0.6);
            &:hover {
                color: rgba(0, 0, 0, 1);
            }
        }
        .btn-wire {
            color: rgba(0, 0, 0, 0.7);
            border-color: rgba(0, 0, 0, 0.3);
            &:hover {
                color: rgba(0, 0, 0, 0.7);
                border-color: rgba(0, 0, 0, 0.3);
            }
        }
    }
}

/* Light theme */

.l-bloc {
    color: rgba(0, 0, 0, 0.5);
    button:hover, h1, h2, h3, h4, h5, h6, .ico {
        color: rgba(0, 0, 0, 0.7);
    }
    .icon-round, .icon-square, .icon-rounded, .icon-semi-rounded-a, .icon-semi-rounded-b {
        border-color: rgba(0, 0, 0, 0.7);
    }
    .divider-h span {
        border-color: rgba(0, 0, 0, 0.1);
    }
    a {
        color: rgba(0, 0, 0, 0.6);
        &:hover {
            color: rgba(0, 0, 0, 1);
        }
    }
    .navbar-toggle .icon-bar {
        color: rgba(0, 0, 0, 0.6);
    }
    .btn-wire {
        color: rgba(0, 0, 0, 0.7);
        border-color: rgba(0, 0, 0, 0.3);
        &:hover {
            color: rgba(0, 0, 0, 0.7);
            border-color: rgba(0, 0, 0, 0.3);
        }
    }
}

/* Row Margin Offsets */

.voffset {
    margin-top: 30px;
}

.voffset-lg {
    margin-top: 80px;
}

/* Bloc text custom styling */

#header {
    h3 {
        font-size: 32px;
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
    }
    p {
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
    }
}

#services h3, #porfolio h2, #team h2 {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

#bloc-6 h3 {
    line-height: 50px;
}

/* = NavBar
-------------------------------------------------------------- */

.navbar {
    margin-bottom: 0;
    z-index: 1;
}

.navbar-brand {
    height: auto;
    padding: 15px 15px;
    font-size: 25px !important;
    font-weight: normal;
    font-weight: 600;
    img {
        max-height: 200px;
        margin: 0 5px 0 0;
        display: inline;
    }
    padding: 15px 15px;
}

.navbar .nav {
    padding-top: 2px;
    margin-right: -16px;
    float: right;
    z-index: 1;
}

.nav > li {
    float: left;
    margin-top: 4px;
    font-size: 16px;
}

.navbar-nav .open .dropdown-menu > li > a {
    text-align: inherit;
}

.nav > li a {
    &:hover, &:focus {
        background: transparent;
    }
}

.navbar-toggle {
    margin: 10px 10px 0 0;
    border: 0px;
    &:hover {
        background: transparent !important;
    }
    .icon-bar {
        background-color: rgba(0, 0, 0, 0.5);
        width: 26px;
    }
}

/* Inverted navbar */

.nav-invert {
    .navbar .nav {
        float: left;
    }
    .navbar-header, .navbar-brand {
        float: right;
    }
}

@media (min-width: 768px) {
    .site-navigation {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        -webkit-transform: translateY(-50%);
    }
    .nav-invert .site-navigation {
        left: 20px;
        right: 0;
    }
    .nav-center {
        text-align: center;
        .navbar-header {
            width: 100%;
            float: none;
            display: inline-block;
        }
        .navbar-brand, .nav > li {
            float: none;
            display: inline-block;
        }
        .site-navigation {
            position: relative;
            width: 100%;
            margin-top: 20px;
        }
    }
}

.nav > li > .dropdown a {
    background: none !important;
    display: block;
    padding: 14px 15px;
}

nav .caret {
    margin: 0 5px;
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-md {
    margin-top: 10px;
    margin-bottom: 20px;
}

.mg-lg {
    margin-top: 10px;
    margin-bottom: 40px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn {
    margin: 0 5px 5px 0;
    &.pull-right {
        margin: 0 0 5px 5px;
    }
}

.btn-d {
    color: #FFF !important;
    background: rgba(0, 0, 0, 0.3);
    &:hover, &:focus {
        color: #FFF !important;
        background: rgba(0, 0, 0, 0.3);
    }
}

/* Prevent ugly blue glow on chrome and safari */

button {
    outline: none !important;
}

.btn-wire {
    background: transparent !important;
    border: 2px solid transparent;
    &:hover {
        background: transparent !important;
        border: 2px solid transparent;
    }
}

.btn-xl {
    padding: 16px 40px;
    font-size: 28px;
}

.dropdown a .caret {
    margin: 0 0 0 5px;
}

/* = Icons
-------------------------------------------------------------- */

.icon-md {
    font-size: 30px !important;
}

.icon-xl {
    font-size: 70px !important;
}

/* Image Frame */

.img-frame, .img-frame-md, .img-frame-lg, .img-frame-rd, .img-frame-rd-md, .img-frame-rd-lg {
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    padding: 4px;
}

.img-frame {
    border-radius: 3px;
}

.img-frame-md, .img-frame-lg {
    border-radius: 6px;
}

.img-frame-md, .img-frame-rd-md {
    padding: 8px;
}

.img-frame-lg, .img-frame-rd-lg {
    padding: 14px;
}

.panel-sq {
    border-radius: 0;
    .panel-heading, .panel-footer {
        border-radius: 0;
    }
}

.panel-rd {
    border-radius: 30px;
    .panel-heading {
        border-radius: 29px 29px 0 0;
    }
    .panel-footer {
        border-radius: 0 0 29px 29px;
    }
}

/* iFrame */

iframe {
    border: 0;
}

/* ScrollToTop button */

.scrollToTop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 500;
    transition: all .3s ease-in-out;
    span {
        margin-top: 6px;
    }
}

.showScrollTop {
    font-size: 14px;
    opacity: 1;
}

/* = Lightbox
-------------------------------------------------------------- */

a[data-lightbox] {
    position: relative;
    display: block;
    text-align: center;
    &:hover {
        &::before {
            content: "+";
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
            font-size: 32px;
            width: 50px;
            height: 50px;
            margin-left: -25px;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.6);
            color: #FFF;
            font-weight: 100;
            z-index: 1;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
        }
        img {
            opacity: 0.6;
            -webkit-animation-fill-mode: none;
            animation-fill-mode: none;
        }
    }
}

#lightbox-modal .modal-dialog {
    width: 90%;
    max-width: 900px;
    margin: 30px auto 0;
    img {
        margin: 0 auto;
    }
}

.lightbox-caption {
    padding: 20px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 5px;
}

.close-lightbox {
    display: none;
    font-size: 40px;
    position: absolute;
    top: 8px;
    right: 20px;
    z-index: 20;
}

.next-lightbox, .prev-lightbox {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transition: all .2s ease-in-out;
    position: absolute;
    top: 50%;
}

.next-lightbox {
    right: 25px;
    border-left: 20px solid rgba(255, 255, 255, 0.4);
}

.prev-lightbox {
    left: 25px;
    border-right: 20px solid rgba(255, 255, 255, 0.4);
    &:hover {
        border-right-color: rgba(255, 255, 255, 0.9);
        border-left-color: rgba(255, 255, 255, 0.9);
    }
}

.next-lightbox:hover {
    border-right-color: rgba(255, 255, 255, 0.9);
    border-left-color: rgba(255, 255, 255, 0.9);
}

/* = Custom Colour Styling
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-carmine-pink {
    background-color: $main-color;
}

.bgc-outer-space {
    background-color: #47454B;
}

.bgc-white {
    background-color: #ffffff;
}

.bgc-platinum {
    background-color: #E5E5E5;
}

/* Text colour styles */

.tc-white {
    color: #ffffff !important;
}

/* Button colour styles */

.wire-btn-carmine-pink {
    color: $main-color !important;
    border-color: $main-color !important;
}

.wire-btn-white {
    color: #ffffff !important;
    border-color: #ffffff !important;
}

/* Icon colour styles */

.icon-carmine-pink {
    color: $main-color !important;
    border-color: $main-color !important;
}

.icon-outer-space {
    color: #47454B !important;
    border-color: #47454B !important;
}

/* Bloc image backgrounds */

.bg-city-overlay {
    background-image: url("../img/code.png");
}

.quote {
    color: rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel {
    &.carousel {
        padding-bottom: 60px;
        .carousel-inner {
            .item {
                opacity: 0;
                -webkit-transition-property: opacity;
                -ms-transition-property: opacity;
                transition-property: opacity;
            }
            .active {
                opacity: 1;
                -webkit-transition-property: opacity;
                -ms-transition-property: opacity;
                transition-property: opacity;
            }
        }
        .carousel-indicators {
            bottom: 10px;
            > li {
                background-color: #e84a64;
                border: none;
            }
        }
    }
    blockquote {
        text-align: center;
        border: none;
    }
    .profile-circle {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 100px;
    }
}

/* = Mobile adjustments
-------------------------------------------------------------- */
@media (max-width: 1024px) {
    .bloc {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .b-parallax {
        background-attachment: scroll;
    }
    .page-container, #hero-bloc {
        overflow-x: hidden;
        position: relative;
    }
    /* Prevent unwanted side scroll on mobile */
}

@media (max-width: 767px) {
    .page-container {
        overflow-x: hidden;
        position: relative;
    }
    h1, h2, h3, h4, h5, h6, p {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    #hero-bloc {
        h1 {
            font-size: 40px;
        }
        h2 {
            font-size: 34px;
        }
        h3 {
            font-size: 25px;
        }
    }
    .bloc {
        padding-left: 0;
        padding-right: 0;
        -webkit-background-size: auto 200%;
        -moz-background-size: auto 200%;
        -o-background-size: auto 200%;
        background-size: auto 200%;
    }
    .b-parallax {
        background-attachment: scroll;
    }
    .navbar {
        .nav {
            padding-top: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.2);
            float: none !important;
        }
        &.row {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .site-navigation {
        position: inherit;
        transform: none;
        -webkit-transform: none;
        -ms-transform: none;
    }
    .nav > li {
        margin-top: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background: rgba(0, 0, 0, 0.05);
        text-align: left;
        padding-left: 15px;
        width: 100%;
        &:hover {
            background: rgba(0, 0, 0, 0.08);
        }
    }
    #hero-bloc .navbar .nav {
        background: rgba(0, 0, 0, 0.8);
        a {
            color: rgba(255, 255, 255, 0.6);
        }
    }
    .hero {
        padding: 50px 0;
    }
    .hero-nav {
        left: -1px;
        right: -1px;
    }
    .navbar-collapse {
        padding: 0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img {
        max-height: 40px;
        width: auto;
        margin: -10px 10px 0 0;
    }
    .nav-invert {
        .navbar-header {
            float: none;
            width: 100%;
        }
        .navbar-toggle {
            float: left;
        }
    }
    .btn {
        &.pull-left, &.pull-right {
            float: none !important;
        }
    }
    .bloc-group .bloc {
        display: block;
        width: 100%;
    }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .bloc-xxl, .bloc-xl, .bloc-lg {
        padding: 40px 0;
    }
    .bloc-sm, .bloc-md {
        padding-left: 0;
        padding-right: 0;
    }
    .a-block {
        padding: 0 10px;
    }
    .btn-dwn {
        display: none;
    }
    .voffset {
        margin-top: 5px;
    }
    .voffset-md {
        margin-top: 20px;
    }
    .voffset-lg {
        margin-top: 30px;
    }
    form {
        padding: 5px;
    }
    .close-lightbox {
        display: inline-block;
    }
    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .video-bg-contianer {
        display: none;
    }
}
.white {
    a {color: white;
        &:hover {color: rgba(255, 255, 255, 0.89);}
    }
}

.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}

.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
}

.hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:80px 0 0;
    padding:7px 14px;
}

.hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
}
